ADMIN_PORT=3000
STORE_PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/penguin_store
SESSION_SECRET=cambia_esto_por_un_texto_largo_y_aleatorio
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=cambia_esta_contrasena